<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="https://opencart.opencartworks.com/themes/so_megastore/layout3/image/catalog/logo_home3.png" alt="" /></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a routerLink="/"class="nav-link" href="#home">Home</a></li>
                <li class="nav-item dropdown">
                  <a routerLink="/products" class="nav-link dropdown-toggle pr-4" href="#" id="navbarDropdown"
                      role="button" data-toggle="dropdown" aria-expanded="false">
                      Products
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#">Dress</a>
                     <a class="dropdown-item" href="#">Flower</a>
                     <a class="dropdown-item" href="#">Car</a>
                     <a class="dropdown-item" href="#">Jewels</a>
                 </div>
              </li>
                <li class="nav-item"><a routerLink="/about"  class="nav-link" href="#about">About</a></li>
                
                <li class="nav-item"><a routerLink="/contact" class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
    </div>
</header>




<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="https://opencart.opencartworks.com/themes/so_megastore/layout3/image/catalog/logo_home3.png" class="w-50 logo-footer" >
                      <p>7637 Laurel Dr. King Of Prussia, PA 19406</p>
                      <p>Use this tool as test data for an automated system or find your next pen</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6> About Company</h6>
                   <p>But horizontal lines can only be a full pixel high.</p>
                   <a routerLink="/contact" href="#" class="btn-footer"> More Info </a><br>
                   <a routerLink="/contact" href="#" class="btn-footer"> Contact Us</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6> Help us</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a routerLink="/" href="#"> Home</a> </li>
                            <li> <a routerLink="/products" href="#"> Products</a> </li>
                            <li> <a routerLink="/about" href="#"> About</a> </li>
                            <li> <a routerLink="/contact" href="#"> Contact</a> </li>
                            
                         </ul>
                      </div>
                      <div class="col-md-6 px-4">
                         <ul>
                            <li> <a href="#"> Cab Faciliy</a> </li>
                            <li> <a href="#"> Fax</a> </li>
                            <li> <a href="#"> Terms</a> </li>
                            <li> <a href="#"> Policy</a> </li>
                           
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6> Newsletter</h6>
                  
                   <form class="form-footer my-3">
                      <input type="text"  placeholder="search here...." name="search">
                      <input routerLink="/signin" type="button" value="Go" >
                   </form>
                   <p>That's technology limitation of LCD monitors</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    </footer>