<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="https://opencart.opencartworks.com/themes/so_megastore/layout3/image/catalog/logo_home3.png" alt="" /></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a routerLink="/"class="nav-link" href="#home">Home</a></li>
                <li class="nav-item dropdown">
                    <a routerLink="/products" class="nav-link dropdown-toggle pr-4" href="#" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Dress</a>
                        <a class="dropdown-item" href="#">Flower</a>
                        <a class="dropdown-item" href="#">Car</a>
                        <a class="dropdown-item" href="#">Jewels</a>
                    </div>
                </li>
                <li class="nav-item"><a routerLink="/about"  class="nav-link" href="#about">About</a></li>
                
                <li class="nav-item"><a routerLink="/contact" class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
    </div>
</header>


<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://img07.shop-pro.jp/PA01114/378/product/92751756_o8.jpg?cmsp_timestamp=20150824185420" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://img.alicdn.com/imgextra/i2/751835565/O1CN011qyoZEWYa8G251B_!!751835565.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568698781IMG_8248-600x600.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://th.bing.com/th/id/R.208edd932cfc6ab53d81b3855b838ce1?rik=j8aend%2fJZFThXQ&pid=ImgRaw&r=0" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="https://opencart.opencartworks.com/themes/so_megastore/layout3/image/catalog/logo_home3.png" class="w-50 logo-footer" >
                      <p>7637 Laurel Dr. King Of Prussia, PA 19406</p>
                      <p>Use this tool as test data for an automated system or find your next pen</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6> About Company</h6>
                   <p>But horizontal lines can only be a full pixel high.</p>
                   <a routerLink="/contact" href="#" class="btn-footer"> More Info </a><br>
                   <a routerLink="/contact" href="#" class="btn-footer"> Contact Us</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6> Help us</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a routerLink="/" href="#"> Home</a> </li>
                            <li> <a routerLink="/products" href="#"> Products</a> </li>
                            <li> <a routerLink="/about" href="#"> About</a> </li>
                            <li> <a routerLink="/contact" href="#"> Contact</a> </li>
                            
                         </ul>
                      </div>
                      <div class="col-md-6 px-4">
                         <ul>
                            <li> <a href="#"> Cab Faciliy</a> </li>
                            <li> <a href="#"> Fax</a> </li>
                            <li> <a href="#"> Terms</a> </li>
                            <li> <a href="#"> Policy</a> </li>
                           
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6> Newsletter</h6>
                  
                   <form class="form-footer my-3">
                      <input type="text"  placeholder="search here...." name="search">
                      <input routerLink="/signin" type="button" value="Go" >
                   </form>
                   <p>That's technology limitation of LCD monitors</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    </footer>